div.col-lg-5
  div#block-for-slider
    div#viewport
      ul#slidewrapper
        li.slide.slide_1
        li.slide.slide_2
        li.slide.slide_3
        li.slide.slide_4
        li.slide.slide_5
        li.slide.slide_6
        li.slide.slide_7
        li.slide.slide_8
        li.slide.slide_9
        li.slide.slide_10
      div#prev-next-btns
        div#prev-btn
          div
        div#next-btn
          div
      ul#nav-btns
        li.slide-nav-btn.slide-nav-btn__active
        li.slide-nav-btn
        li.slide-nav-btn
        li.slide-nav-btn
        li.slide-nav-btn
        li.slide-nav-btn
        li.slide-nav-btn
        li.slide-nav-btn
        li.slide-nav-btn
        li.slide-nav-btn
        