div#servise-time.servise-time
  div.container
    div.row.servise-time-content
      div.col-lg-3.col-md-6.col-sm-6.servise-time-content__item
        div
          p Принимаем заказы с 8:00 до 20:00
          img(src="img/service/square_icon_01.png" alt="img")
      div.col-lg-3.col-md-6.col-sm-6.servise-time-content__item
        div
          p Выполняем заказы круглосуточно
          img(src="img/service/square_icon_02.png" alt="img")
      div.col-lg-3.col-md-6.col-sm-6.servise-time-content__item
        div
          p Бухгалтерия работает с 10:00 до 18:00
          img(src="img/service/square_icon_03.png" alt="img")
      div.col-lg-3.col-md-6.col-sm-6.servise-time-content__item
        div
          p Консультацияпо стоимости и скидкам с 8:00 до 20:00
          a#request(href="http") Оставить заявку