section#service-performers
  h1 Проверенные на 100% исполнители
  p Мы тщательно проверяем наших работников, поэтому у нас не бывает случайных людей.
  div.container
    div.row
      div.service-performers__item.col-lg-3.col-md-6.col-sm-6
        div.service-performers_1
        div.service-performers__text
          p Николай
          p 33 лет, грузчик
      div.service-performers__item.col-lg-3.col-md-6.col-sm-6
        div.service-performers_2
        div.service-performers__text
          p Вячеслав
          p 29 лет, грузчик
      div.service-performers__item.col-lg-3.col-md-6.col-sm-6
        ul
          li Граждане РБ
          li Трезвые
          li Без нецензурной лексики
          li Без опозданий
          li Низкие цены
          li Без судимостей
      div.service-performers__item.col-lg-3.col-md-6.col-sm-6
        div.service-performers_3
        div.service-performers__text
          p Семён
          p 35лет, грузчик