section#service-baner.baner_1
  div.container
    div.row
      ul.nav-location
        li
          a(href="index.html") Компания /&#160;
        li
          a(href="company.html") Как мы работаем
      h1 Мы работаем <br/> круглосуточно
      div.service-btn
        a(href="#").company-btn.service-btn-active Я представитель компании
        a(href="#").private-person-btn Я часное лицо
      div.service-btn2
        a(href="#").company-btn.service-btn-active Компаниям
        a(href="#").private-person-btn Частным лицам