section#servise-doc
  div.container
    div.row
      h1 Документы и нормативные акты
      div.col-lg-6.div.col-md-6.links-docs
        div.links-docs__container
          p Договор на оказание услуг
          div.doc-ic
            img(src="img/service/doc-ic.png" alt="img")
            a(href="img/logo.png" download).doc-link  Скачать договор заявки
          a(href="img/logo.png" download).doc-link_res Договор на оказание услуг
      div.col-lg-6.div.col-md-6.doc-description
        p Условия сотрудничества между клиентом и Грузчиков-Сервис. Благодаря наработанному опыту с 2010 года, наши договора - сбалансированные, отвечающие интересам как заказчика, так и исполнителя. В нашей компании имеется штат опытных юристов, если клиенту нужна консультация по тем или иным пунктам договора.
      div.col-lg-6.div.col-md-6.links-docs
        div.links-docs__container
          p Акт учета оказанных услуг
          div.doc-ic
            img(src="img/service/doc-ic.png" alt="img")
            a(href="img/logo.png" download).doc-link  Скачать aкт
          a(href="img/logo.png" download).doc-link_res Акт учета оказанных услуг
      div.col-lg-6.div.col-md-6.doc-description
        p В акте клиент фиксирует фактический объем оказанных услуг. Клиент передает акт (оригиналы) непосредственным исполнителям заявки. Форма акта - важный документ, который может понадобиться в дальнейшем для уточнения деталей оказанной услуги.