section#service-payment
  div.container
    div.row
      h1 Выбирайте удобный способ оплаты
      div.col-lg-3.col-md-6.col-sm-6
        img(src="img/service/ic_payments_01.png" alt="img")
        p Наличные 
        span После выполнения работы
      div.col-lg-3.col-md-6.col-sm-6
        img(src="img/service/ic_payments_02.png" alt="img")
        p Банковская карта 
        span Переводом на карту физ.лица
      div.col-lg-3.col-md-6.col-sm-6
        img(src="img/service/ic_payments_03.png" alt="img")
        p Безналичный расчет
        span Полный комплект документов
      div.col-lg-3.col-md-6.col-sm-6
        img(src="img/service/ic_payments_04.png" alt="img")
        p Связной, евросеть 
        span Удобная оплата рядом с домом