section#service-execution
  h1 Простой и уникальный сервис для Вашего удобства
  div.container
    div.row
      div.col-lg-6.col-md-6.col-sm-6.slider-ipad
        div.ipad
          div.slider-ipad__viewport
            div.slider-ipad__items
              div.item1
                img(src="img/service/ipad_icon_01.png" alt="img")
              div.item2
                img(src="img/service/ipad_icon_02.png" alt="img")
              div.item3
                img(src="img/service/ipad_icon_03.png" alt="img")
      div.col-lg-6.col-md-6.slider-ipad__nav
        div.slider-ipad__text-btn.slider-ipad__text-btn_active
          div.slider-ipad__nav-ic
            img(src="img/service/list-comfort-services_01.png" alt="img")
          p.num-item 01
          p Получаете доступ <br/><span>Менеджер присылает ссылку</span>
        div.slider-ipad__text-btn
          div.slider-ipad__nav-ic
            img(src="img/service/list-comfort-services_02.png" alt="img")
          p.num-item 02
          p Заходите в кабинет<br/><span> Заходите в личный кабинет под своим логином и паролем</span>
        div.slider-ipad__text-btn
          div.slider-ipad__nav-ic
            img(src="img/service/list-comfort-services_03.png" alt="img")
          p.num-item 03
          p Всё под контролем<br/> <span>Видите все транзакции, можете создавать новые заказы и тд...</span>
          