section#service-description
  h1 100% гарантия качества услуг и <br/> высочайший сервис от лидера рынка в России
  div.container
    div.row
      div.dotter
      div.col-lg-3.col-md-3.col-sm-12.service-description-content
        img(src="img/service/icon_how_me_work_01.jpg" alt="img")
        p Заключаем договор
      div.col-lg-3.col-md-3.col-sm-12.service-description-content
        img(src="img/service/icon_how_me_work_02.jpg" alt="img")
        p Выставляем счет и производите оплату
      div.col-lg-3.col-md-3.col-sm-12.service-description-content
        img(src="img/service/icon_how_me_work_03.jpg" alt="img")
        p Рабочие приезжают в указанное время и выполняют работу
      div.col-lg-3.col-md-3.col-sm-12.service-description-content
        img(src="img/service/icon_how_me_work_04.jpg" alt="img")
        p Получаете пакет документов для бухгалтерии
        