div.quick-order-modal__container
  div#quick-order-modal.quick-order-modal
    div.quick-order-modal__overlay
    div.quick-order-modal__content
      div.quick-order-modal__text
        p 95
        p <span>%</span> клиентов <br>заказывают <br>по телефону
      div.quick-order-modal__form
        div.quick-order-modal_close
        p Оставьте ваш номер телефона, мы перезвоним
        form#quick-order-modal__form
          input(type="text" placeholder="+(375) 255-383-444" required="" name="phone" id="quick-order__user-phone")
          button(type="submit" id="quick-order__btn") Заказать
        div.quick-order-modal__tel Или позвоните <br> +(375) 255-383-444