div.header__top-blok
  div.container
    div.row
      div.col-lg-3.link_nav-city__cntainer
        div.link_nav-city__ic
        a(href="#").link_nav-city Минск
      div.col-lg-6.discount__container
        div.discount
          div.discount__icon
            span %
          a(href="prices.html").discount__text при заказе до 
            span#discount__date 06 июня 
            span#discount__rate 20% скидка
      div.col-lg-3.link-phone__cntaier
        p Прием заказов с 8:00 до 20:00
        a(href="tel:+123456789").link-phone
          div.link-phone__icon
          span.link-phone__number (375)255-383-444