section#clients-logo
  div.container
    div.row
      h1 Более 100 ключевых клиентов с 2010 года
      div.line1-logos
        div.biz-line-logo
        div.mts-logo
        div.gazprom-logo
        div.vtb24-logo
        div.magnit-logo
        div.add-rostelecom-logo
      div.line2-logos
        div.rostelecom-logo
        div.megafon-logo
        div.rzd-logo
        div.sberbank-logo