section#contact
  div.container
    div.row
      ul.nav-location
        li
          a(href="index.html") Главная /&#160;
        li
          a(href="contacts.html") Контакты
      div.col-lg-7
        h1 Получите бесплатную консультацию
        a(href="tel:+123456789").link-phone
          div.link-phone__icon
          span.link-phone__number +(375)255-383-464
        p Круглосуточно выполняем заказы
        p с 8:00 до 20:00 — прием заказов
        p с 10:00 до 18:00 — бухгалтерия
        a(href="mailto:frontendkor@gmail.com").mail frontendkor@gmail.com
      div.col-lg-5.consultant-photo
