section#info
  div.container
    div.row
      div.col-lg-8
        h1 Надежный поставщик и партнер ООО "ГРУЗЧИКОВ-СЕРВИС БЕЛ"
        p С 2010 года работаем с госзаказами и тендерами
        div.gos-logos
          div.gos-logo-1
            img(src="img/contacts/gos-logo/gos-logo-1.jpg", alt="logo")
          div.gos-logo-2
            img(src="img/contacts/gos-logo/gos-logo-2.jpg", alt="logo")
          div.gos-logo-3
           img(src="img/contacts/gos-logo/gos-logo-3.jpg", alt="logo")
          div.gos-logo-4
           img(src="img/contacts/gos-logo/gos-logo-4.jpg", alt="logo")
      div.col-lg-4
        table
          tr
            td.name ИНН
            td.number 123456789
          tr
            td.name КПП
            td.number 1234567
          tr
            td.name ОГРН
            td.number 1177847173910
          tr
            td.name Юр. адрес
            td.number 195112 г. Минск, улица Лобанка 19, офис 2
          tr
            td.name БИК
            td.number 0445259748
          tr
            td.name К/с
            td.number 3010181014525000097499
          tr
            td.name Банк
            td.number АО "БЕЛ БАНК"
          tr
            td.name Р/С
            td.number 40702810410000128112
        div.dok-btn__container
          a(href="img/logo.png" download).dok-btn
           div
           span Скачать реквизиты
          