section#contacts-map
  div.container
    div.row
      div.col-lg-8.col-md-12
        h1 Офис в Минске
        p 195112 г. Минск, улица Лобанка 19, офис 2
        div.offis-photos
         div
           img(src="img/contacts/offise-photo/offise-photo-1.jpg", alt="offise-photo")
         div
           img(src="img/contacts/offise-photo/offise-photo-2.jpg", alt="offise-photo")
         div
           img(src="img/contacts/offise-photo/offise-photo-3.jpg", alt="offise-photo")
         div
           img(src="img/contacts/offise-photo/offise-photo-4.jpg", alt="offise-photo")
         div
           img(src="img/contacts/offise-photo/offise-photo-5.jpg", alt="offise-photo")
         div
           img(src="img/contacts/offise-photo/offise-photo-5.jpg", alt="offise-photo")
         div
           img(src="img/contacts/offise-photo/offise-photo-7.jpg", alt="offise-photo")
         div
           img(src="img/contacts/offise-photo/offise-photo-8.jpg", alt="offise-photo")
      div.col-lg-4.col-md-12.contcts-map
        include ../../../blocks/maps/map-mini/map-mini.pug
    