div
  div.map__container
    div.map__content
      div.container
        div.row 
          div.map__content-box
            img(src="img/vacancies/logo_large.png" alt="img")
            p Уже более 43 городов <br/> в России и СНГ
    div#map