div.nav-top
  div.container.nav-top__grid
    div.row
      div.col-lg-2.col-md-3.col-sm-3.col-xs-3.nav__logo-container
        a(href="index.html").nav-top__logo.logo
      div.col-lg-7.navigation__container
        nav
          ul#nav
            li
              a(href="index.html").active Грузчики в Минске
            li
              a(href="prices.html").link-prise
            li
              a(href="#").link-nav-drop 
                span Компания
                div.link-nav-drop__ic
                  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 448 512')
                    path(d='M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z')
              ul.nav-drop
                li
                  a(href="about-us.html").link-about-us О нас
                li
                  a(href="service.html").link-service Как мы работаем
                li
                  a(href="thanks.html").link-thanks Наши достижения
                li
                  a(href="https://fr.gruzchikov-service.ru/" target="_blank") Франшиза
            li
              a(href="vacancies.html").linlk-vacancies Вакансии
            li
              a(href="contacts.html").linlk-contacts Контакты
      div.col-lg-3.nav-top__btn-container
        a(href="#").nav-top__btn.quick-order__open Быстрый заказ
        div.nav-top__tah-btn.tah-btn
          div.tah-btn__items
