div#content-main
 include blocks/workers-prise-blok.pug
 include blocks/all-prise-blok.pug
 include blocks/facts-about-us-block.pug
 include ../../blocks/thanks-block/thanks-block.pug
 include ../../blocks/call-back-block/call-back-block.pug
  
 