section#baner-vacancies
  div.container
    div.row
      ul.nav-location
        li
          a(href="index.html") Главная /&#160;
        li
          a(href="vacancies.html") Вакансии
      h1 Начни зарабатывать  
        span.replaceable вместе с Грузчиков-Сервис
        span.substitution с Грузчиков-Сервис
      ul.advantages-of-work
        li 
          div.check-ic
          span Ежедневные выплаты
        li 
          div.check-ic
          span Выбирай график сам
        li 
          div.check-ic
          span Работай рядом с домом