section#vacancies-block
  div.container
    div.row
      h3 Актуальные вакансии на 
        span#date-today 
    div.row
      div#vacancies-tab__link.col-lg-3.col-md-5
        ul.vacancies-tab__btns
      div#vacancies-tab__content.col-lg-5.col-md-7
        div.vacancies-tab__text
          div.salary-experience
           div
             p.salary-title Уровень зарплаты
             p.salary
           div
             p.experience-title Опыт работы
             p.experience
          p Крупный оператор рабочего персонала приглашает на вакансию <span class="job-offer"> «Грузчик» </span>. Отличные условия труда, социальный пакет, регулярные выплаты без задержек. Рассматриваем соискателей на постоянную и временную занятость. Возможен гибкий график в удобное время.
          span Обязанности:
          ul.duties
          span Условия:
          ul.conditions
        p.promise Регулярные выплаты без задержек!
        a(href="http").btn-worksheet Заполнить анкету
      div.col-lg-12.vacancies-spoilers__box
        div.vacancies-spoilers__container
      div.col-lg-4.col-md-12.vacancies-map
        include ../../../blocks/maps/map-mini/map-mini.pug
        
        
        
