div#preloader(style="z-index: 9999999;")
  div.banter-loader
    div.banter-loader__box
    div.banter-loader__box
    div.banter-loader__box
    div.banter-loader__box
    div.banter-loader__box
    div.banter-loader__box
    div.banter-loader__box
    div.banter-loader__box
    div.banter-loader__box
