div.vacancies-tab__text
  div.salary-experience
    div
      p.salary Уровень зарплаты
      p от 750 до 1450 руб.
    div
      p.experience Опыт работы
      p не требуется
  p Крупный оператор рабочего персонала приглашает на вакансию «Работник на производство». Отличные условия труда, социальный пакет, регулярные выплаты без задержек. Рассматриваем соискателей на постоянную и временную занятость. Возможен гибкий график в удобное время.
  span Обязанности:
  ul
    li - Работа на производственной площадке
    li - Погрузо-разгрузочные работы
    li - Помощь на участках производства
    li - Перемещение грузов и товаров по складу
    li - Контроль сырья и мат. запасов
    li - Получение, выдача продукции
    li - Разгрузка грузового автотранспорта
    li - Работа на конвейере
  span Условия:
  ul
    li - Только граждане РБ
    li - Ответственность, пунктуальность и исполнительность
    li - Постоянная работа или работа на разовых заказах
    li - Работа разъездная в разных районах города
    li - Возможно совмещение, подработка в свободное время
    li - Есть работа во всех районах города