div.vacancies-tab__text
  div.salary-experience
    div
      p.salary Уровень зарплаты
      p от 900 до 1700 руб.
    div
      p.experience Опыт работы
      p не требуется
  p Крупный оператор рабочего персонала приглашает на вакансию «Работник для земляных (ландшафтных) работ». Отличные условия труда, социальный пакет, регулярные выплаты без задержек. Рассматриваем соискателей на постоянную и временную занятость. Возможен гибкий график в удобное время.
  span Обязанности:
  ul
    li - Работа на открытом воздухе
    li - Земляные и ландшафтные работы
    li - Рытье траншей, вскапывание грядок
    li - Уборка территории
    li - Благоустройство территории
    li - Помощь в посадке и пересадке растений
  span Условия:
  ul
    li - Только граждане РБ
    li - Ответственность, пунктуальность и исполнительность
    li - Постоянная работа или работа на разовых заказах
    li - Работа разъездная в разных районах города
    li - Возможно совмещение, подработка в свободное время
    li - Есть работа во всех районах города