section#call-back-block
  div.call-back-block_consultant-photo
  div.container
    div.row
      div.col-lg-6.col-md-6.offset-lg-6.offset-md-6.call-back-block__content
        h1 Получите бесплатную консультацию за 30 секунд
        p Позвоните нам прямо сейчас и узнайте все интересующие вас подробности.
        p.call-back-time с 8:00 до 20:00, пн - пт
        a(href="tel:+375255383444") +(375) 255-383-444
        form.form-phone
          input(type="text" placeholder="+(375) 255-383-444" name="phone" id="call-back__user-phone" required)
          button(type="submit" id="call-back__submit") Заказать звонок