section#prices
  div.container
    div.row
      ul.nav-location
        li
          a(href="index.html") Главная /&#160;
        li
          a(href="prices.html")  Цены 
      h1.col-lg-12.col-md-12.col-sm-12 
        span.tab__title Услуги грузчиков <br/>
        span в Минске
    div#tab-prices__container.row.opasity
      div#tab-prices__link.col-lg-3
        ul.tab-btns
      div.tab-prices__content.col-lg-9
        table
          thead
            tr
              th.name-service 
                span УСЛУГИ ГРУЗЧИКОВ
              th
                div.our-price
                  div &#9733;
                  span ЛУЧШАЯ ЦЕНА ПО АКЦИИ
                  div &#9733;
              th.common-price 
                span ОБЫЧНАЯ ЦЕНА
          tbody.tab-body
