section#service-block
  div.container
    div.row
      include ../../../blocks/sliderok/sliderok.pug
      div.col-lg-7
        div.description-tab__container
          div.description-tab1.description-tab.description-tab__show
            h3 Услги грузчков
            p Для каждого переезда необходимо продумать множество вопросов, в том числе вывоз имущества и его доставку. Кроме того, проблемой так же становится выбор команды, которая выполнит все необходимые задачи. Наша профессиональная бригада сможет полностью обеспечить качественное выполнение всех работ. Для заказа доступны такие услуги: <span> грузчик (стандартные работы), грузчик (такелажные работы), грузчик для погрузки мусора.</span>
            p Каждый заказчик так же может воспользоваться такими услугами как:<span>упаковщик или экспедитор.</span> Помимо этого, мы гарантируем быструю и аккуратную работу и сохранность даже самых хрупких предметов.
          div.description-tab2.description-tab
            h3 Квартирный переезд
            p Квартирный переезд один из самых сложных типов переезда, он требует максимальной подготовки и внимательности. Чтобы сохранить все имущество и обеспечить комфортный и спокойный переезд, можно воспользоваться нашими услугами. Для заказа можно выбрать такие виды услуг: <span>сборка/разборка мебели (Икеа) илисборка/разборка мебели (любой).</span>
            p Для своего удобства вы можете выбрать уже готовые пакеты услуг: <span>переезд однокомнатной квартиры; переезд двухкомнатной квартиры; переезд трехкомнатной квартиры.</span>
            p При необходимости наш команда может использовать для упаковки некоторые расходные материалы: <span> коробка (1 шт), стрейчпленка (рулон),воздушно-пузырчатая пленка (рулон), скотч (1 шт), мешок для вещей/мусора (1шт).</span>
          div.description-tab3.description-tab
            h3 Офисный переезд
            p Офисный переезд – это сложный организационный процесс, который предполагает собой выполнение множество задач. Помимо этого, необходимо обеспечить сохранность всей документации и в течение короткого срока необходимо возобновить рабочий процесс. Мы предлагаем оперативную перевозку всего имущества и быстрое возобновление работы. Для этого доступны такие услуги: <span>грузчик для офисного переезда, грузчик для погрузки банкоматов, реставрация мебели.</span> Для удобства разработаны специальные виды услуг:<span>переезд офиса 50-150 м2, переезд офиса более 150 м2.</span>
            p Во время работы так же могут быть использованы исходные материалы, для упаковки имущества: <span>коробка (1 шт), стрейчпленка (рулон), воздушно-пузырчатая пленка (рулон), скотч (1 шт).</span>
          div.description-tab4.description-tab
            h3 Дачный переезд
            p Дачный переезд – это не только начало летнего сезона, но и сложный организационный процесс, который требует повышенной внимательности. Для того чтобы быстро переехать на дачу, мы предлагаем услуги нашей профессиональной команды, которая быстро справится даже с самым сложным переездом. При этом, мы гарантируем сохранность всех вещей и доступную ценовую политику. Для заказа доступны такие услуги:<span> грузчик для домашних вещей, сборка/разборка мебели (Икеа), реставрация мебели.</span>
            p При упаковке могут быть использованы такие рабочие материалы: <span> стрейчпленка (рулон), скотч (1 шт), мешок для вещей/мусора (1 шт).</span>
          div.description-tab5.description-tab
            h3 Разнорабочие
            p Разнорабочие и подсобные работники бывают необходимы не только на стройке и на производстве. Но и при выполнении земляных работ и единоразовых заказов. Мы предлагаем квалифицированную помощь при выполнении самых разных заказов по доступной цене. Заказать можно самые разные виды работ:<span>работник для ландшафтных работ, земляные работы, комплектовка товара, упаковка товара, помощник строителя,работа на конвейре, пересчет товара, сортировка брака, промоутеры.</span>
            p Мы гарантируем высокую скорость выполнения работ и ответственный подход.
          div.description-tab6.description-tab
            h3 Уборка и клининг
            p Любое помещение необходимо поддерживать в чистоте и порядке. Поэтому мы предлагаем качественную уборку абсолютно любых помещений, для заказа доступны такие услуги: уборка<span> однокомнатной квартиры, уборка двухкомнатной квартиры, уборка трехкомнатной квартиры.</span>
            p Для уборки промышленных зданий предназначены такие услуги: <span> уборка мест общего пользования, уборка после ремонта, мытье окон, промышленный альпинизм.</span> Вся уборка выполняется безопасными моющими средствами и специальным оборудованием. Мы гарантируем быструю уборку и вежливое обслуживание.
          div.description-tab7.description-tab
            h3 Демонтажные работы
            p Демонтажные работы требуют специальной техники и определенных навыков. Для того, чтобы произвести демонтаж стены или других построек, можно воспользоваться услугами наших рабочих. Профессиональная команда справится с любым заданием, и произведет все дополнительные работы высококачественно. Для заказа доступны такие услуги:<span> демонтаж перегородок (пенобетон), демонтаж перегородок (газобетон), демонтаж перегородок (кирпич), демонтаж перегородок (гипсокартон), демонтаж временных построек и прочих зданий.</span> Кроме того, можно заказать такие услуги: <span>демонтаж сантехники, демонтаж металлоконструкций.</span>
            p Мы гарантируем высокую скорость выполнения всех работ и доступную ценовую политику.
          div.description-tab8.description-tab
            h3 Такелажные работы
            p Такелажные работы – это одно из направлений по перевозке больших грузов, при этом используется специальная техника и инструменты. Мы предлагаем услуги квалифицированных и опытных рабочих, которые справятся с самыми большими грузами. Для заказа доступны такие услуги: <span>грузчик (такелажные работы), перевозка сейфа, перевозка пианино</span> и прочих больших грузов. Кроме этого, для перевозки можно заказать такие услуги:<span> кран-манипулятор (гидравлический), кран-манипулятор (троссовый), автокран.</span>
            p Доступные цены и сохранность имущества будут гарантированы.
          div.description-tab9.description-tab
            h3 Вывоз мусора
            p Вызов мусора необходим после стройки или после ремонта. Организовать и полностью проконтролировать вес процесс очень сложно. Именно поэтому, наша компания предлагает услуги профессионалов, которые быстро и качественно выполнят всю работу. Для заказа доступны такие услуги: <span>вывоз мусора с садового участка, вывоз деревьев, вывоз оконных рам.</span>Кроме того, можно выбрать специальные контейнеры: <span>контейнер (пухто) 6 для вывоза мусора, контейнер (пухто) 12 для вывоза мусора, контейнер (пухто) 14 для вывоза мусора, контейнер (пухто) 27 для вывоза мусора.</span>
            p Для заказа достаточно позвонить нашим менеджерам и заказать необходимые услуги.
          div.description-tab10.description-tab
            h3 Уборка снега
            p Уборка снега – это сложный и длительный процесс, который требует особой физической подготовки. Мы предлагаем услуги профессиональных специалистов, которые готовы работать в любую погоду. При этом,для заказа доступны такие услуги: <span>уборка прилегающей территории, уборка снега в загородном доме, вывоз снега с утилизации.</span> Уборка снега может выполняться специализированной техникой и с использованием <span>трактора.</span>
            p Мы гарантируем доступную ценовую политику, аккуратность и оперативность при выполнении работ.
          div.description-tab11.description-tab
            h3 Аренда спецтехники
        div.contact-block
          div.contact-block__phone
            h2 Узнайте точную стоимость по телефону:
            a(href="tel:+375255383464") 
              div.link-phone__icon
              p +(375)255-383-444
            span прием заказов с 8:00 до 20:00
          div.contact-block__text
            p  95% клиентов заказывают по телефону 


              