section#gallery-thanks
  //modal window of the gallery
  div.gallery__modal
    div.gallery__overlay
    figure.gallery__nav
      div.gallery__img-container
        div.close-up-btn
          div.close-up-btn__items
        img(src="../../img/thanks/bashneft.jpg" alt="img").gallery__img
      div.gallery_prev
        div
      div.gallery_next
        div
  div.container
    ul.row.gallery
      li.col-lg-3.col-md-6.gallery__item
        a(href="img/thanks/bashneft.jpg").bashneft-mini
          img(src="img/thanks/mini-img/bashneft-mini.jpg" alt="img")
        p Благодарности
        h4 Башнефть
      li.col-lg-3.col-md-6.gallery__item
        a(href="img/thanks/pony-express.jpg").pony-express-mini
          img(src="img/thanks/mini-img/pony-express-mini.jpg" alt="img")
        p Благодарности
        h4 PONY EXPRESS
      li.col-lg-3.col-md-6.gallery__item
        a(href="img/thanks/rostelekom.jpg").rostelekom-mini
          img(src="img/thanks/mini-img/rostelekom-mini.jpg" alt="img")
        p Благодарности
        h4 Ростелеком
      li.col-lg-3.col-md-6.gallery__item
        a(href="img/thanks/rzd.jpg").rzd-mini
          img(src="img/thanks/mini-img/rzd-mini.jpg" alt="img")
        p Благодарности
        h4 АО РЖД
      li.col-lg-3.col-md-6.gallery__item
        a(href="img/thanks/sberbank.jpg").sberbank-mini
          img(src="img/thanks/mini-img/sberbank-mini.jpg" alt="img")
        p Благодарности
        h4 Сбербанк России
      li.col-lg-3.col-md-6.gallery__item
        a(href="img/thanks/ska.jpg").ska-mini
          img(src="img/thanks/mini-img/ska-mini.jpg" alt="img")
        p Благодарности
        h4 Хоккейный клуб СКА
      li.col-lg-3.col-md-6.gallery__item
        a(href="img/thanks/spb-gov.jpg").spb-gov-mini
          img(src="img/thanks/mini-img/spb-gov-mini.jpg" alt="img")
        p Благодарности
        h4 Правительство Санкт-Петербурга
      li.col-lg-3.col-md-6.gallery__item
        a(href="img/thanks/united-russia.jpg").united-russia-mini
          img(src="img/thanks/mini-img/united-russia-mini.jpg" alt="img")
        p Благодарности
        h4 Партия Единая Россия