div.gallery-mini
  //modal window of the gallery
  div.gallery__modal
    div.gallery__overlay
    figure.gallery__nav
      div.gallery__img-container
        div.close-up-btn
          div.close-up-btn__items
        img(src="../../img/thanks/bashneft.jpg" alt="img").gallery__img
      div.gallery_prev
        div
      div.gallery_next
        div
  div.container
    ul.row.gallery
      li.col-lg-3.col-md-6.col-sm-6.col-xs-6.gallery__item
        a(href="img/thanks/bashneft.jpg").bashneft-mini
          img(src="img/thanks/mini-img/bashneft-mini.jpg" alt="img")
      li.col-lg-3.col-md-6.col-sm-6.col-xs-6.gallery__item
        a(href="img/thanks/pony-express.jpg").pony-express-mini
          img(src="img/thanks/mini-img/pony-express-mini.jpg" alt="img")
      li.col-lg-3.col-md-6.col-sm-6.col-xs-6.gallery__item
        a(href="img/thanks/rostelekom.jpg").rostelekom-mini
          img(src="img/thanks/mini-img/rostelekom-mini.jpg" alt="img")
      li.col-lg-3.col-md-6.col-sm-6.col-xs-6.gallery__item
        a(href="img/thanks/rzd.jpg").rzd-mini
          img(src="img/thanks/mini-img/rzd-mini.jpg" alt="img")