div.complete-modal
  div.complete-modal__content
    p.complete-modal__title Мы скоро с вами свяжемся
    p Спасибо за проявленный интерес к компании <br> Грузчиков-Сервис
    button#complete-modal__btn Закрыть