div.container
  div.row
    div.footer__content.col-lg-5
      div.footer__logo.logo
      div.communication
        div.communication__ic
        div.communication__link
          a(href="#").write-director-modal__open Написать директору
      a(href="tel:+375255383464").footer__link-phone +(375)255-383-444
      p.footer__working-hours. 
       Работаем круглосуточно! <br>
       Прием заказов: с 8:00 до 20:00 <br>
       Бухгалтерия: с 10:00 до 18:00 <br>
      a(href="mailto:mail@gmail.com").footer__link-email mail@gmail.com
      p.footer__address 195112 г. Минск, улица Лобанка 19, офис 2
      div.footer__social-icon
      p.footer__cop &#169; ООО "ГРУЗЧИКОВ-СЕРВИС БЕЛ" 2010–2018 <br>
      a(href="#") Политика конфиденциальности. <br>
      span Информация на данном сайте носит информационный характер и не является офертой. ст. 437 ч. 1 ГК РФ.
    div.col-lg-7.footer__nav
      div.nav-1
        h3 Услуги и цены 2018
        ul 
          li
            a(href="prices.html?dataTab=1") Услуги грузчиков
          li
            a(href="prices.html?dataTab=2") Квартирный переезд
          li
            a(href="prices.html?dataTab=3") Офисный переезд
          li
            a(href="prices.html?dataTab=4") Дачный переезд
          li
            a(href="prices.html?dataTab=5") Разнорабочие
          li
            a(href="prices.html?dataTab=6") Уборка и клининг
          li
            a(href="prices.html?dataTab=7") Демонтажные работы
          li
            a(href="prices.html?dataTab=8") Такелажные работы
          li
            a(href="prices.html?dataTab=9") Вывоз мусора
          li
            a(href="prices.html?dataTab=10") Уборка снега
          li
            a(href="prices.html?dataTab=11") Аренда спецтехники
      div.nav-2
        h3 Компания
        ul 
          li
            a(href="#") О нас
          li
            a(href="service.html") Как мыработаем
          li
            a(href="https://fr.gruzchikov-service.ru/" target="_blank") Франшиза
          li
            a(href="vacancies.html") 
              h3 Вакансии
          li
            a(href="contacts.html") 
              h3 Контакты
      div.nav-3
        h3 Скачать
        div.treaty
          div.treaty__ic
          div.treaty__link
            p Договор 
            a(href="img/logo.png" download="") doc
            a(href="img/logo.png" download="") pdf
        div.act
          div.act__ic
          div.act__link
            p Акт 
            a(href="img/logo.png" download="") doc
            a(href="img/logo.png" download="") pdf
        div.logotip
          div.logotip__ic
          div.logotip__link
            p Логотип 
            a(href="img/logo.png" download="") eps
            a(href="img/logo.png" download="") cdr
            a(href="img/logo.png" download="") png
        div.communication
          div.communication__ic
          div.communication__link
            a(href="#").write-director-modal__open Написать директору