section#thanks-block
  h1 Благодарности от известных клиентов
  div.clients-logo
    div.container
      div.row
        div.col-lg-2.col-md-4.col-sm-4.biz-line-logo
        div.col-lg-2.col-md-4.col-sm-4.mts-logo
        div.col-lg-2.col-md-4.col-sm-4.gazprom-logo
        div.col-lg-2.col-md-4.col-sm-4.vtb24-logo
        div.col-lg-2.col-md-4.col-sm-4.magnit-logo
        div.col-lg-2.col-md-4.col-sm-4.rzd-logo
  div.gallery-mini__container
    include ../gallery/gallery-mini.pug
  a(href="thanks.html").thanks-gelery__btn.link-thanks Все благодарности