div#all-prise-blok
 div.container
  div.row
   div.col-lg-10.offset-lg-1
    ul
     li
      a(href="prices.html?dataTab=2") Квартирный переезд
     li
      a(href="prices.html?dataTab=3") Офисный переезд
     li
      a(href="prices.html?dataTab=4") Дачный переезд
    div.btn-prise__container
     div.line_decor
     a(href="prices.html").btn-prise Цены на все услуги
