section#workers-prise-blok
  div.workers-img
   div.container
    div.row
     h1 Грузчики в Минске от 3руб/час <br>и услуги рабочих
     div.col-lg-2.offset-lg-1.block_offset.workers
      div.worker_01
       div
     div.col-lg-2.workers
      div.worker_02
       div
     div.col-lg-2.workers
      div.worker_03
       div
     div.col-lg-2.workers
      div.worker_04
       div
     div.col-lg-2.workers
      div.worker_05
       div
  div.prise
   div.container
    div.row.workers-prise__row
     div.col-lg-2.valuation
      a(href="prices.html?dataTab=1").link-worker_01 Грузчик
      p от <span>10</span> руб
     div.col-lg-2.valuation
      a(href="prices.html?dataTab=8").link-worker_02 Такелажник
      p от <span>10</span> руб
     div.col-lg-2.valuation
      a(href="prices.html?dataTab=1").link-worker_03 Грузчик - экпедитор
      p от <span>10</span> руб
     div.col-lg-2.valuation
      a(href="prices.html?dataTab=5").link-worker_04 Разнорабочий
      p от <span>10</span> руб
     div.col-lg-2.valuation
      a(href="prices.html?dataTab=5").link-worker_05 Упаковщица
      p от <span>10</span> руб
