section#about-us-baner.about-us-baner
  div.container
    div.row
      ul.nav-location
        li
          a(href="index.html") Компания /&#160;
        li
          a(href="about-us.html") Онас
      h1 Рабочий персонал <br/> от лидера рынка в СНГ
      ul.about-us-baner__text
        li
          div
          p На рынке с 2010 года
        li
          div
          p Более 49 офисов по всей России и СНГ