div.container
  div.row.about-us__facts
    div.col-lg-3.col-md-3.col-sm-6
      img(src="img/about-us/icons_about_01.jpg" alt="img")
      p Более 50 тысяч ответственных рабочих
    div.col-lg-3.col-md-3.col-sm-6
      img(src="img/about-us/icons_about_02.jpg" alt="img")
      p Удобные способы оплаты на выбор
    div.col-lg-3.col-md-3.col-sm-6
      img(src="img/about-us/icons_about_03.jpg" alt="img")
      p Рассрочка при крупных заказах
    div.col-lg-3.col-md-3.col-sm-6
      img(src="img/about-us/icons_about_04.jpg" alt="img")
      p Круглосуточно выполняем заказы