div.presentation
 div.container
   div.row
     div.col-lg-12
       h2 Презентация
       p Грузчиков-Сервис оказывает услуги на огромном географическом пространстве России от Калининграда до Сахалина с возможностью как точечной работы, так и проведения глобальных проектов. В числе клиентов Грузчиков-Сервис: Газпром и дочерние структуры, Роснефть, многочиселнные администрации городов и районов, множественные частные и государственные заказчики и др. Стандарты качества, поддерживаемые Грузчиков-Сервис - это эталон стандартов в сфере бизнеса.
       a(href="img/about-us/presentation.pdf" download).presentation-btn
         div
         span Скачать презентацию 
     div.col-lg-12
       img(src="img/about-us/slides/slide_0.jpg" alt="img").no-slider
       div#block-for-slider
          div#viewport
            ul#slidewrapper
              li.slide.slide_1
              li.slide.slide_2
              li.slide.slide_3
              li.slide.slide_4
              li.slide.slide_5
              li.slide.slide_6
              li.slide.slide_7
              li.slide.slide_8
              li.slide.slide_9
              li.slide.slide_10
            div#prev-next-btns
              div#prev-btn
                div
              div#next-btn
                div
            ul#nav-btns
              li.slide-nav-btn.slide-nav-btn__active
              li.slide-nav-btn
              li.slide-nav-btn
              li.slide-nav-btn
              li.slide-nav-btn
              li.slide-nav-btn
              li.slide-nav-btn
              li.slide-nav-btn
              li.slide-nav-btn
              li.slide-nav-btn